extends layout

block content
  h1=name
  p.lead=location
  hr
  .row
    .col-md-5
      h4 Added:
      p=added
      h4 Gender:
      h1 
        if gender == 'male'
          i.fas.fa-male.fa-sm
        if gender == 'female'
          i.fas.fa-female.fa-sm
      h5
        if gender == 'unisex'
          | Unisex

      h4 Cleanliness:
      #cleanlinessView
      h4 Traffic:
      #trafficView
      h4 Toilet Paper Quality:
      #tpQualityView
      h4 Had Paper Towels?
      h1
        if paperTowels == 'true'
          i.fas.fa-thumbs-up.fa-sm(style='color: green;')
        else
          i.fas.fa-thumbs-down.fa-sm(style='color: red;')
      h4 Had Toilet Paper?
      h1
        if toiletPaper == 'true'
          i.fas.fa-thumbs-up.fa-sm(style='color: green;')
        else
          i.fas.fa-thumbs-down.fa-sm(style='color: red;')
      
    .col-md-4
      iframe(width='600', height='450', frameborder='0', style='border:0', src=map, allowfullscreen='')
  hr
  h3 Comments
  p.lead=location
  script.
    var cleanliness = #{cleanliness}
    var traffic = #{traffic}
    var tpQuality = #{tpQuality}


